/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Style App.js wrapper */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Tab Container */
.Tabs {
  width: 90%;
  height: 90%;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 2rem;

  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

/*Ajustar o tamanho da tabela*/
table {
  width: 100%; 
  height: 100%; 
  border-collapse: collapse;
}

/*Organizar a tabela e estilizar o conteúdo*/
th, td {
  padding: 10px; 
  text-align: center; 
  border: 1px solid #e8f0f2; 
  color: #e8f0f2; 
}


/* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39a2db;


  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;

}



ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav li.active {
  background: #39a2db;
}

/* Estilo dos campos de entrada e botão */
.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border: 1px solid #39a2db;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
  border-color: #053742;
  box-shadow: 0 0 5px rgba(3, 127, 170, 0.5);
}

.add-button {
  background-color: #39a2db;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #053742;
}

.ThirdTab {
  padding: 1rem 2rem; /* Adiciona padding para afastar do background */
  margin-top: 2rem; /* Adiciona um espaço superior para separar do topo */
}
